
.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 0.7rem;
  }
  
  .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    background: linear-gradient(to right, #9c27b0, #673ab7);
    transform-origin: left;
    animation: growLine 0.5s ease-out forwards;
  }

.card-proyect{
  max-height: 390px;
  overflow: hidden;
}